* {
	-webkit-tap-highlight-color: transparent !important;
	-webkit-font-smoothing: antialiased;
	button:focus {
		outline: none !important;
	}

	button:disabled {
		cursor: default !important;
	}

	button:not(:disabled) {
		cursor: pointer !important;
	}
}

input[type='number'] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
